In [1]:
a=3
b=5
a+b

8

In [2]:
# Basic Arithmetic Operations in Python

# Define two numbers
num1 = 10
num2 = 5

# Addition
addition = num1 + num2
print("Addition:",addition)

# Subtraction
subtraction = num1 - num2
print("Subtraction:",subtraction)

# Multiplication
multiplication = num1 * num2
print(f"Multiplication:",multiplication)

# Division
division = num1 / num2
print(f"Division:",division)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0

In [3]:
name="kritika Nepal"
FirstName="kritika"
lastName="Nepal"
FullName="firstName + lastName"
print("FirstName")

FirstName

In [4]:
a=56
b=45
if a>b:
    print("A is greater than B")
else:
    print("B is greater than A")

A is greater than B

In [10]:
Kritika=15000
Sujal=25000
Aakriti=Kritika+Sujal
print("Aakriti",Aakriti)

Aakriti 40000

In [14]:
a=654565456
b=a
print(b)

654565456

In [16]:
FirstName="Sujal"
lastName="Kritika"
print(FirstName + lastName)

SujalKritika

In [17]:
FirstName="Sujal";lastName="Kritika";print(FirstName+lastName)

SujalKritika

In [27]:

a="123"
#printing output
print("hello"+" "+a)

hello 123

In [34]:
a,k,s="Aakriti","kritika","sujal"
print(a)
print(k)
print(s)

Aakriti
kritika
sujal

In [35]:
a=b=c="kritika"
print(a)
print(b)
print(c)

kritika
kritika
kritika

In [36]:
chocolate="lindt"
Chocolate="cadbury"
CHOCOLATE="nestle"
_chocolate="snicker"
print(chocolate)

lindt

In [37]:
5chocolte="lindt"

SyntaxError: invalid decimal literal (1459920035.py, line 1)

In [ ]:
num1=5
num2=3.12
num3="12k+s"
num4=4j+6
num5=int(input())
print("data type of num1 is ",type(num1))
print("data type of num2 is ",type(num2))
print("data type of num3 is ",type(num3))
print("data type of num4 is ",type(num4))
print("data type of num5 is ",type(num5))

data type of num1 is  <class 'int'>
data type of num2 is  <class 'float'>
data type of num3 is  <class 'str'>
data type of num4 is  <class 'complex'>
data type of num5 is  <class 'int'>

In [49]:
a="sujal"S
b="kritika"
print(a,"loves",b)

sujal loves kritika

In [1]:
#mutable
def add_to_list(value, my_list=[]):
    my_list.append(value)
    return my_list

# Example usage:
print(add_to_list(1))  # Output: [1]
print(add_to_list(2))  # Output: [1, 2]
print(add_to_list(3))  # Output: [1, 2, 3]

[1]
[1, 2]
[1, 2, 3]

In [14]:
my_list=[5,10,15,20]
my_list[0]=100
print(my_list)
my_list.append(25)
print(my_list)
my_list.insert(2,8)
print(my_list)
my_list.remove(20)
print(my_list)
my_list.pop(1)
print(my_list)
my_list.extend([6,7])
print(my_list)
# my_list.clear()
print(my_list)

[100, 10, 15, 20]
[100, 10, 15, 20, 25]
[100, 10, 8, 15, 20, 25]
[100, 10, 8, 15, 25]
[100, 8, 15, 25]
[100, 8, 15, 25, 6, 7]
[100, 8, 15, 25, 6, 7]

In [30]:
my_list.count(2)
# my_list.index(6)
# my_list.sort()
my_list.sort(reverse=True)
print(my_list)

[100, 25, 15, 8, 7, 6]

# *StarQ777*

In [32]:
my_square_list=[x**3 for x in my_list]
my_square_list

[1000000, 15625, 3375, 512, 343, 216]