In [5]:
#Data structure

In [ ]:
my_list = [1,2,3,4,9,12,5,6,7]
print(my_list)
my_list.append(8)
print(my_list)
my_list.remove(3)
print(my_list)
my_list.sort(reverse=True)
print("Data:",my_list)

[1, 2, 3, 4, 9, 12, 5, 6, 7]
[1, 2, 3, 4, 9, 12, 5, 6, 7, 8]
[1, 2, 4, 9, 12, 5, 6, 7, 8]
Data: [12, 9, 8, 7, 6, 5, 4, 2, 1]

In [9]:
my_list[5]="StarQ777"
print(my_list)

[12, 9, 8, 7, 6, 'StarQ777', 4, 2, 1]

In [10]:
my_list.count(2)

1

In [12]:
#tuples
my_tuple=(1,2,3,4,5,6,7)
print("tuple",my_tuple)

tuple (1, 2, 3, 4, 5, 6, 7)

In [13]:
tuple_list=list(my_tuple)
tuple_list

[1, 2, 3, 4, 5, 6, 7]

In [14]:
my_set={1,2,3,4,5}
my_set.add(7)
my_set.remove(5)
another_set={4,5,6,7,8}
print("Set:",my_set)
print("Union:",my_set.union(another_set))
print("Intersection:",my_set.intersection(another_set))
print("DIfference:",my_set.difference(another_set))

Set: {1, 2, 3, 4, 7}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 7}
DIfference: {1, 2, 3}

In [15]:
first_set={1,3,5,7}
second_set={2,3,5,6}
result=first_set-second_set
result

{1, 7}

In [16]:
t1=first_set-second_set
t2=second_set-first_set
t3=first_set.union(second_set)
print(first_set.intersection(second_set))

intersection_value=t3-t1-t2
intersection_value
print(intersection_value)

{3, 5}
{3, 5}

In [17]:
#Dictonary
my_dic={'name':'Sujal','age':25,'gender':'male'}
my_dic['age']=23
my_dic.update({'Location':'Chyasal'})
print("dictonary:",my_dic)
print("key:",my_dic.keys())
print("values:",my_dic.values( ))
print("item:",my_dic.items())

dictonary: {'name': 'Sujal', 'age': 23, 'gender': 'male', 'Location': 'Chyasal'}
key: dict_keys(['name', 'age', 'gender', 'Location'])
values: dict_values(['Sujal', 23, 'male', 'Chyasal'])
item: dict_items([('name', 'Sujal'), ('age', 23), ('gender', 'male'), ('Location', 'Chyasal')])

In [24]:
#list comprehensions
#basic syntax
squares=[x**2 for x in range(7)]
print("square:",squares)

square: [0, 1, 4, 9, 16, 25, 36]

In [25]:
#conditional comprehensions(if)
even_squares=[x**2 for x in range(10) if x % 2==0]
print("Even square:",even_squares)

Even square: [0, 4, 16, 36, 64]

In [27]:
odd_even =["even"if x % 2==0 else "odd" for x in range(10)]
print("odd or even:",odd_even
      )

odd or even: ['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [31]:
#Nested comprehensions
matrix=[[j for j in range(5)]for i in range(3)]
print("Matrix:",matrix)

Matrix: [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [32]:
#dictionary comprehensions
#basic syntax
squares_dict={x:x**2 for x in range(10)}
print("squares disctionary:",squares_dict)

squares disctionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [34]:
#conditional comprehansions (if)

In [35]:
#nested

In [36]:
# Iterating Through a list 
for item in my_list:
    print("List Item:",item)

#Iterating Through a set 
for item in my_set:
    print("Set item:",item)

#Iterating Through a dictionary
for key, value in my_dic.items():
    print(f"Dictionary key:{key},value:{value}")

List Item: 12
List Item: 9
List Item: 8
List Item: 7
List Item: 6
List Item: StarQ777
List Item: 4
List Item: 2
List Item: 1
Set item: 1
Set item: 2
Set item: 3
Set item: 4
Set item: 7
Dictionary key:name,value:Sujal
Dictionary key:age,value:23
Dictionary key:gender,value:male
Dictionary key:Location,value:Chyasal

In [40]:
#list Operations 

my_list=[1,2,3,4,5,6,7]
print("List",my_list)
print("length:",len(my_list))
print("minimun:",min(my_list))
print("maximun:",max(my_list))
print("sum:",sum(my_list))
print("sprted list:",sorted(my_list))
print("count of 5:",my_list.count(5))
print("index of 7:",my_list.index(7))
print()

List [1, 2, 3, 4, 5, 6, 7]
length: 7
minimun: 1
maximun: 7
sum: 28
sprted list: [1, 2, 3, 4, 5, 6, 7]
count of 5: 1
index of 7: 6

In [41]:
my_set={5,10,15,20,25}
print("set:",)

set:

In [42]:
#person entering super market