In [ ]:
user input 
name 
gender 
address

choosing facaulty (csit , bca , bim , engineerimg )


filtering addres within one area 


list of male and female

Name: sujal chitrakar

Name: sujal
Faculty: bca

In [38]:
users = []
n=1
while n<4:
    def add_user():
        name = input("Enter your name: ")
        gender = input("Enter your gender (male/female): ")
        address = input("Enter your address: ")
        print("\nChoose your faculty:")
        print("1. CSIT")
        print("2. BCA")
        print("3. BIM")
        print("4. Engineering")
        faculty_choice = input("Enter the number of your faculty: ")

    add_user()
    n +=1

faculty = {
    '1': 'CSIT',
    '2': 'BCA',
    '3': 'BIM',
    '4': 'Engineering'
 }
user.append(add_user)

Choose your faculty:
1. CSIT
2. BCA
3. BIM
4. Engineering

Choose your faculty:
1. CSIT
2. BCA
3. BIM
4. Engineering

Choose your faculty:
1. CSIT
2. BCA
3. BIM
4. Engineering

AttributeError: 'str' object has no attribute 'append'

In [39]:
student_living_in_Ktm=[]

for each_student in student_data:
    if"ktm" in each_student['address']:
        student_living_in_Ktm.append(each_student['name'])

NameError: name 'student_data' is not defined

### File Hhandling

In [1]:
with open('example_files/example.txt','r')as files:
    content = file.red()
    print("Reading entire file:\n",content)

#  # #Writing to a file
with open('example_files/example.txt','w') as file:
    file.write("Hello, this is a new line\n")
    file.write("This is another line")

# Appending to a file 
with open('example_files/example2.txt', 'a') as file:
    file.write("\n Appending this line")

# Reading file line by line
with open(''example_files/example.txt','r') as file

SyntaxError: unterminated string literal (detected at line 15) (3685375426.py, line 15)

In [40]:
import json
#create a student data with 10 elements 
employee=[
    {
        "employee_id":"001",
        "name":"Raju Kuikel",
        "address":"kalanki,Ktm",
        "phone_no":"123456789",
        "interest":"admin",
    },
    {
        "employee_id":"002",
        "name":"Dinesh Dahal",
        "address":"lele,Ktm",
        "phone_no":"1234684789",
        "interest":"admin",
    },
    {
        "employee_id":"003",
        "name":"utsab Kharel",
        "address":"baneshwor,Ktm",
        "phone_no":"123404169",
        "interest":"manager",
    },
    {
        "employee_id":"004",
        "name":"juliee shrestha ",
        "address":"teku,Ktm",
        "phone_no":"1234056789",
        "interest":"receptionist",
    },
    {
        "employee_id":"006",
        "name":"manish gautam",
        "address":"kapan,Ktm",
        "phone_no":"1234454186789",
        "interest":"supervisior",
    },
    {
        "employee_id":"006",
        "name":"Rubin awale",
        "address":"walkhu,lalitpur",
        "phone_no":"12363589999",
        "interest":"supervisior",
    },
    {
        "employee_id":"007",
        "name":"Sujal Chitrakar",
        "address":"patan,lalitp",
        "phone_no":"125282689",
        "interest":"Associate Manager",
    },
]
# write to json file 
with open ('example_files/employee.json','w')as json_file:
    json.dump(employee,json_file,indent=4)

In [48]:
import random

random.seed(42)

#add IQ scores between 90-140 for each student 
for each_employee in employee:
   print(each_employee)
   each_employee['iq_score'] = random.randint(90, 140)
   print(each_employee)
#write updated data back to jason file 
with open('example_files/employee.json','w')as json_files:
   json.dump(employee ,json_files ,indent=4)

{'employee_id': '001', 'name': 'Raju Kuikel', 'address': 'kalanki,Ktm', 'phone_no': '123456789', 'interest': 'admin', 'iq_score': 130}
{'employee_id': '001', 'name': 'Raju Kuikel', 'address': 'kalanki,Ktm', 'phone_no': '123456789', 'interest': 'admin', 'iq_score': 130}
{'employee_id': '002', 'name': 'Dinesh Dahal', 'address': 'lele,Ktm', 'phone_no': '1234684789', 'interest': 'admin', 'iq_score': 97}
{'employee_id': '002', 'name': 'Dinesh Dahal', 'address': 'lele,Ktm', 'phone_no': '1234684789', 'interest': 'admin', 'iq_score': 97}
{'employee_id': '003', 'name': 'utsab Kharel', 'address': 'baneshwor,Ktm', 'phone_no': '123404169', 'interest': 'manager', 'iq_score': 91}
{'employee_id': '003', 'name': 'utsab Kharel', 'address': 'baneshwor,Ktm', 'phone_no': '123404169', 'interest': 'manager', 'iq_score': 91}
{'employee_id': '004', 'name': 'juliee shrestha ', 'address': 'teku,Ktm', 'phone_no': '231653415', 'interest': 'receptionist', 'iq_score': 137}
{'employee_id': '004', 'name': 'juliee shrestha ', 'address': 'teku,Ktm', 'phone_no': '231653415', 'interest': 'receptionist', 'iq_score': 137}
{'employee_id': '006', 'name': 'manish gautam', 'address': 'kapan,Ktm', 'phone_no': '1234454186789', 'interest': 'supervisior', 'iq_score': 107}
{'employee_id': '006', 'name': 'manish gautam', 'address': 'kapan,Ktm', 'phone_no': '1234454186789', 'interest': 'supervisior', 'iq_score': 107}
{'employee_id': '006', 'name': 'Rubin awale', 'address': 'walkhu,lalitpur', 'phone_no': '12363589999', 'interest': 'supervisior', 'iq_score': 105}
{'employee_id': '006', 'name': 'Rubin awale', 'address': 'walkhu,lalitpur', 'phone_no': '12363589999', 'interest': 'supervisior', 'iq_score': 105}
{'employee_id': '007', 'name': 'Sujal Chitrakar', 'address': 'patan,lalitp', 'phone_no': '125282689', 'interest': 'Associate Manager', 'iq_score': 104}
{'employee_id': '007', 'name': 'Sujal Chitrakar', 'address': 'patan,lalitp', 'phone_no': '125282689', 'interest': 'Associate Manager', 'iq_score': 104}

In [49]:
# function to update student info 
def update_employee(employee_id,field,new_value):
    for each_employee in employee:
        if each_employee['employee_id'] == employee_id:
            each_employee[field]=new_value
            return True
    return False

update_employee('004','phone_no','231653415')

with open ('example_files/employee.json','w') as json_files:
    json.dump(employee,json_files,indent=4)

In [63]:
# Read the Json File 
with open('example_files/employee.json','r') as json_file:
    data = json.load(json_file)
high_iq_employee= [employee for each_employee in data if employee.get('iq_score',0)>100]
print("high_iq_employee")
print("each_employee",each_employee)
print(f"NUmber of employee  with IQ> 100: {len(high_iq_employee)}")
print("\n employee with high IQ:")

for employee in high_iq_employee:
     print(f"Name:{each_employee['name']},IQ:{'iq_score'}")

high_iq_employee
each_employee {'employee_id': '007', 'name': 'Sujal Chitrakar', 'address': 'patan,lalitp', 'phone_no': '125282689', 'interest': 'Associate Manager', 'iq_score': 104}
NUmber of employee  with IQ> 100: 7

 employee with high IQ:
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score
Name:Sujal Chitrakar,IQ:iq_score